In [3]:
import pandas as pd
import numpy as np

In [4]:
# List of years
years = ['2019', '2020', '2021', '2022']

# Read the 'airport_codes_master_analysis.csv' file
df_master = pd.read_csv('airport_codes_master_analysis.csv')

# Create DataFrame using 'ORIGIN_AIRPORT_ID' from master DataFrame
output_df = df_master[['ORIGIN_AIRPORT_ID', 'CODE', 'ORIGIN_STATE_ABR', 'NAME', 'LOCATION']].copy()
output_df.set_index('ORIGIN_AIRPORT_ID', inplace=True)

# Initialize totals to zero
for year in years:
    output_df[f'total_{year}'] = np.nan

for year in years:
    # Define the path
    path = f'time_series_pax/time_series_pax_airport_{year}.csv'
    
    # Read the CSV file
    df = pd.read_csv(path)
    
    # Extract 'total' column and rename it with the corresponding year
    df_total = df.set_index('ORIGIN_AIRPORT_ID')['total'].rename(f'total_{year}')
    
    # Update the values in output_df with the actual totals
    output_df.update(df_total)

# Replace NaN values with zero
output_df.fillna(0, inplace=True)

# Reset index
output_df.reset_index(inplace=True)

In [5]:
output_df

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,total_2019,total_2020,total_2021,total_2022
0,10005,05A,AK,Little Squaw Airport,Little Squaw,1.0,0.0,0.0,0.0
1,10006,06A,AK,Kizhuyak Bay,Kizhuyak,0.0,0.0,0.0,0.0
2,10011,GCW,AZ,Grand Canyon West,Peach Springs,0.0,0.0,0.0,447.0
3,10039,A26,AK,Ivotuk Airstrip,Ivotuk,0.0,0.0,0.0,0.0
4,10042,A29,AK,Kiluda Bay Airport,Kiluda Bay,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
808,16869,XWA,ND,Williston Basin International,Williston,19981.0,31291.0,46281.0,66235.0
809,16879,T4X,TX,Llano Municipal,Llano,0.0,0.0,0.0,591.0
810,16923,1AK,AK,Mertarvik Quarry Road Landing Strip,Mertarvik,0.0,0.0,0.0,95.0
811,16929,2AK,AK,Deer Park Airport,Deer Park,0.0,0.0,15.0,11.0
812,16954,BNH,MA,Boston Harbor Seaplane Base,Boston,0.0,0.0,110.0,994.0

In [6]:
# Remove Alaska, Hawaii, Puerto Rico, Virgin Islands and Trust Territories 
exclude_states = ['AK', 'HI', 'PR', 'VI', 'TT']

# Exclude rows
output_df = output_df[~output_df['ORIGIN_STATE_ABR'].isin(exclude_states)]

In [7]:
output_df

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,total_2019,total_2020,total_2021,total_2022
2,10011,GCW,AZ,Grand Canyon West,Peach Springs,0.0,0.0,0.0,447.0
7,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,437600.0,190303.0,356294.0,422995.0
8,10136,ABI,TX,Abilene Regional,Abilene,86769.0,46449.0,79810.0,73914.0
10,10140,ABQ,NM,Albuquerque International Sunport,Albuquerque,2695239.0,896302.0,1720416.0,2365700.0
11,10141,ABR,SD,Aberdeen Regional,Aberdeen,28782.0,14393.0,21842.0,21768.0
...,...,...,...,...,...,...,...,...,...
806,16755,T8X,TX,McKinney National,Dallas,0.0,0.0,0.0,19.0
807,16832,NYS,NY,New York Skyports Seaplane Base,New York,0.0,0.0,125.0,1155.0
808,16869,XWA,ND,Williston Basin International,Williston,19981.0,31291.0,46281.0,66235.0
809,16879,T4X,TX,Llano Municipal,Llano,0.0,0.0,0.0,591.0
812,16954,BNH,MA,Boston Harbor Seaplane Base,Boston,0.0,0.0,110.0,994.0

In [8]:
# Include rows where 'total_2019' or 'total_2022' is 10,000 or higher
output_df = output_df[(output_df['total_2019'] >= 10000) | (output_df['total_2022'] >= 10000)]

In [9]:
output_df

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,total_2019,total_2020,total_2021,total_2022
7,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,437600.0,190303.0,356294.0,422995.0
8,10136,ABI,TX,Abilene Regional,Abilene,86769.0,46449.0,79810.0,73914.0
10,10140,ABQ,NM,Albuquerque International Sunport,Albuquerque,2695239.0,896302.0,1720416.0,2365700.0
11,10141,ABR,SD,Aberdeen Regional,Aberdeen,28782.0,14393.0,21842.0,21768.0
12,10146,ABY,GA,Southwest Georgia Regional,Albany,41460.0,17388.0,32015.0,35055.0
...,...,...,...,...,...,...,...,...,...
765,15624,VPS,FL,Eglin AFB Destin Fort Walton Beach,Valparaiso,813496.0,459569.0,983091.0,988665.0
783,15855,WST,RI,Westerly State,Westerly,18260.0,12720.0,16902.0,14419.0
790,15919,XNA,AR,Northwest Arkansas National,Fayetteville,888820.0,340713.0,600989.0,810354.0
793,16101,YKM,WA,Yakima Air Terminal/McAllister Field,Yakima,67598.0,29007.0,45317.0,35127.0
808,16869,XWA,ND,Williston Basin International,Williston,19981.0,31291.0,46281.0,66235.0

In [10]:
output_df.to_csv('total_annual_pax_airports.csv', index=False)