In [1]:
import pandas as pd

In [2]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 322A-B5F7

 Directory of c:\Users\Juhana\Desktop\Masters_New\above10K\time_series_airlines&airports&actypes\deps\annual_combos

06/15/2023  12:50 PM    <DIR>          .
06/15/2023  12:50 PM    <DIR>          ..
06/08/2023  10:21 AM            15,800 annual_time_series_actypes&airlines.csv
06/09/2023  08:04 AM            18,439 annual_time_series_actypes&airlines_with_ACfamily.csv
06/08/2023  11:50 AM            13,953 annual_time_series_airlines&actypes.csv
06/09/2023  08:00 AM               859 annual_time_series_by_ACfamily@above10K.csv
06/08/2023  10:50 AM           482,967 annual_time_series_by_actypes@airports.csv
06/08/2023  10:44 AM           367,133 annual_time_series_by_airlines@airports.csv
05/29/2023  08:52 AM            44,752 EXCL_airports_list.csv
06/08/2023  10:51 AM            10,287 groupby_annual_actypes&airlines.ipynb
06/08/2023  10:10 AM            11,343 groupby_annual_actypes&airports.ipynb
06/08/2023  10:19 AM            10,288 groupby_annual_airlines&actypes.ipynb
06/08/2023  09:07 AM            12,645 groupby_annual_airlines&airports.ipynb
06/15/2023  12:50 PM               256 Unite_broad_airport_data.ipynb
06/09/2023  11:11 AM            26,162 Unite_combos&families.ipynb
              13 File(s)      1,014,884 bytes
               2 Dir(s)  82,889,093,120 bytes free

In [3]:
df1 = pd.read_csv('annual_time_series_by_airlines@airports.csv')

In [4]:
df2 = pd.read_csv('EXCL_airports_list.csv')

In [5]:
df2.head()

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,diff,pct_change,change_category
0,10011,GCW,AZ,Grand Canyon West,Peach Springs,less than 10k,no,gain,NaN,other
1,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,loss,-21.7,at least -20%
2,10136,ABI,TX,Abilene Regional,Abilene,10k-100k,no,loss,-16.8,at least -10%
3,10140,ABQ,NM,Albuquerque International Sunport,Albuquerque,1-5 million,no,loss,-19.7,at least -10%
4,10141,ABR,SD,Aberdeen Regional,Aberdeen,10k-100k,yes,loss,-5.4,less than -10%

In [6]:
df1.head()

,ORIGIN_AIRPORT_ID,ORIGIN_STATE_ABR,CODE,NAME,AIRLINE_ID,UNIQUE_CARRIER_NAME,2019,2020,2021,2022
0,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",19790,Delta Air Lines Inc.,244020,141572,181917,207267
1,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",21253,"Multi-Aero, Inc. d/b/a Air Choice One",259,307,118,0
2,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",21599,Boutique Air,1351,1188,868,302
3,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",20500,GoJet Airlines LLC d/b/a United Express,607,13,0,0
4,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",19393,Southwest Airlines Co.,39045,27260,29409,30833

In [ ]:
df1