In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('annual_deps_clusters_above10K.csv')

In [16]:
df

,Unnamed: 0,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,diff,pct_change,change_category,total_2019,total_2020,total_2021,total_2022
0,0,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,loss,-21.7,at least -20%,6505,3782,5312,5091
1,1,10136,ABI,TX,Abilene Regional,Abilene,10k-100k,no,loss,-16.8,at least -10%,2312,1695,2394,1924
2,2,10140,ABQ,NM,Albuquerque International Sunport,Albuquerque,1-5 million,no,loss,-19.7,at least -10%,27807,16098,19070,22334
3,3,10141,ABR,SD,Aberdeen Regional,Aberdeen,10k-100k,yes,loss,-5.4,less than -10%,740,690,754,700
4,4,10146,ABY,GA,Southwest Georgia Regional,Albany,10k-100k,no,loss,-5.1,less than -10%,1013,748,1051,961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,349,15624,VPS,FL,Eglin AFB Destin Fort Walton Beach,Valparaiso,100k-1 million,no,loss,-1.4,less than -10%,8833,7089,11713,8706
350,350,15855,WST,RI,Westerly State,Westerly,10k-100k,no,loss,-10.5,at least -10%,4110,3236,4032,3679
351,351,15919,XNA,AR,Northwest Arkansas National,Fayetteville,100k-1 million,no,loss,-22.4,at least -20%,15445,8386,10284,11989
352,352,16101,YKM,WA,Yakima Air Terminal/McAllister Field,Yakima,10k-100k,no,loss,-51.0,at least -30%,1224,726,752,600
353,353,16869,XWA,ND,Williston Basin International,Williston,10k-100k,no,loss,-28.0,at least -20%,2057,854,1132,1481

In [17]:
#df.columns

In [4]:
# Perform value counts on the 'category' column
cat_counts = df['category'].value_counts().reset_index()

# Rename the columns
cat_counts.columns = ['category', 'count']

In [5]:
cat_counts

              category  count
0       100k-1 million    131
1             10k-100k    127
2          1-5 million     48
3  more than 5 million     41
4        less than 10k      7

In [6]:
# Define the custom order
order = ['more than 5 million', '1-5 million', '100k-1 million', '10k-100k', 'less than 10k']

# Set 'category' as the index of cat_counts
cat_counts = cat_counts.set_index('category')

# Reorder the rows based on the custom order
cat_counts = cat_counts.loc[order]

# Reset the index
cat_counts = cat_counts.reset_index()

In [8]:
cat_counts.to_csv('cat_counts.csv', index=False)

In [18]:
# Group by 'ORIGIN_STATE_ABR' and 'ORIGIN_AIRPORT_ID', and then sum the totals
output_df = df.groupby(['ORIGIN_STATE_ABR'])['total_2019', 'total_2020', 'total_2021', 'total_2022'].sum().reset_index()

# Rename the columns
output_df = output_df.rename(columns={
    'total_2019': '2019',
    'total_2020': '2020',
    'total_2021': '2021',
    'total_2022': '2022',
})

C:\Users\Juhana\AppData\Local\Temp\ipykernel_28072\3887641243.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  output_df = df.groupby(['ORIGIN_STATE_ABR'])['total_2019', 'total_2020', 'total_2021', 'total_2022'].sum().reset_index()

In [19]:
output_df

   ORIGIN_STATE_ABR    2019    2020    2021    2022
0                AL   45023   26476   33010   33117
1                AR   33924   19200   24357   26904
2                AZ  210785  141451  189789  193242
3                CA  873740  468139  592272  728490
4                CO  324900  224132  305206  313781
5                CT   30208   16018   21139   26642
6                FL  600696  391602  573454  588184
7                GA  424586  263694  340860  342676
8                IA   31649   20064   25316   24726
9                ID   33553   24847   34196   34373
10               IL  499918  289036  368566  385356
11               IN   72063   43822   53482   55447
12               KS   17049   11470   13503   14302
13               KY   93714   51857   66345   70884
14               LA   85438   48367   59553   69708
15               MA  195497   99003  128168  167914
16               MD  110824   72663   78129   86785
17               ME   20960   11305   17191   17218
18               MI  223576  139322  168632  160881
19               MN  181964  110457  138460  135456
20               MO  154427   93833  105410  119748
21               MS   16776   11388   15208   15507
22               MT   35210   28961   38851   31230
23               NC  373173  238871  307266  302669
24               ND   21872   14627   17884   16815
25               NE   33823   21221   26360   26693
26               NH   13339    8099    8644    9778
27               NJ  160431   76376  104518  145896
28               NM   33719   19543   23374   27279
29               NV  193253  120536  162093  194732
30               NY  408316  173925  240192  386155
31               OH  127992   68516   84214   92773
32               OK   46281   28338   35850   39089
33               OR  115112   69205   81899   85068
34               PA  244453  138148  163459  167209
35               RI   28102   16282   20709   24359
36               SC   71719   43180   68523   68312
37               SD   16481   11886   16806   14037
38               TN  149275   95549  123119  137031
39               TX  802279  517064  685483  725693
40               UT  126579   94978  125789  115321
41               VA  310846  159899  214461  279878
42               VT   11734    5546    7142    9115
43               WA  243112  159403  205056  214531
44               WI   70811   43208   55306   53745
45               WV    9344    6441    7608    7192
46               WY   12508    8906   12856   10681

In [20]:
output_df['pct_change'] = ((output_df['2022'] - output_df['2019']) / output_df['2019']) * 100

# To round to one decimal place
output_df['pct_change'] = output_df['pct_change'].round(1)

In [21]:
output_df

   ORIGIN_STATE_ABR    2019    2020    2021    2022  pct_change
0                AL   45023   26476   33010   33117       -26.4
1                AR   33924   19200   24357   26904       -20.7
2                AZ  210785  141451  189789  193242        -8.3
3                CA  873740  468139  592272  728490       -16.6
4                CO  324900  224132  305206  313781        -3.4
5                CT   30208   16018   21139   26642       -11.8
6                FL  600696  391602  573454  588184        -2.1
7                GA  424586  263694  340860  342676       -19.3
8                IA   31649   20064   25316   24726       -21.9
9                ID   33553   24847   34196   34373         2.4
10               IL  499918  289036  368566  385356       -22.9
11               IN   72063   43822   53482   55447       -23.1
12               KS   17049   11470   13503   14302       -16.1
13               KY   93714   51857   66345   70884       -24.4
14               LA   85438   48367   59553   69708       -18.4
15               MA  195497   99003  128168  167914       -14.1
16               MD  110824   72663   78129   86785       -21.7
17               ME   20960   11305   17191   17218       -17.9
18               MI  223576  139322  168632  160881       -28.0
19               MN  181964  110457  138460  135456       -25.6
20               MO  154427   93833  105410  119748       -22.5
21               MS   16776   11388   15208   15507        -7.6
22               MT   35210   28961   38851   31230       -11.3
23               NC  373173  238871  307266  302669       -18.9
24               ND   21872   14627   17884   16815       -23.1
25               NE   33823   21221   26360   26693       -21.1
26               NH   13339    8099    8644    9778       -26.7
27               NJ  160431   76376  104518  145896        -9.1
28               NM   33719   19543   23374   27279       -19.1
29               NV  193253  120536  162093  194732         0.8
30               NY  408316  173925  240192  386155        -5.4
31               OH  127992   68516   84214   92773       -27.5
32               OK   46281   28338   35850   39089       -15.5
33               OR  115112   69205   81899   85068       -26.1
34               PA  244453  138148  163459  167209       -31.6
35               RI   28102   16282   20709   24359       -13.3
36               SC   71719   43180   68523   68312        -4.8
37               SD   16481   11886   16806   14037       -14.8
38               TN  149275   95549  123119  137031        -8.2
39               TX  802279  517064  685483  725693        -9.5
40               UT  126579   94978  125789  115321        -8.9
41               VA  310846  159899  214461  279878       -10.0
42               VT   11734    5546    7142    9115       -22.3
43               WA  243112  159403  205056  214531       -11.8
44               WI   70811   43208   55306   53745       -24.1
45               WV    9344    6441    7608    7192       -23.0
46               WY   12508    8906   12856   10681       -14.6

In [22]:
output_df.to_csv('annual_deps_totals_states.csv', index=False)

In [23]:
df.columns

Index(['Unnamed: 0', 'ORIGIN_AIRPORT_ID', 'CODE', 'ORIGIN_STATE_ABR', 'NAME',
       'LOCATION', 'category', 'EAS', 'diff', 'pct_change', 'change_category',
       'total_2019', 'total_2020', 'total_2021', 'total_2022'],
      dtype='object')

In [24]:
# Group by 'ORIGIN_STATE_ABR' and count the number of 'ORIGIN_AIRPORT_ID' for each 'ORIGIN_STATE_ABR'
airport_count = df.groupby('ORIGIN_STATE_ABR')['ORIGIN_AIRPORT_ID'].size().reset_index()

# Rename the columns
airport_count = airport_count.rename(columns={
    'ORIGIN_STATE_ABR': 'state',
    'ORIGIN_AIRPORT_ID': 'airport_count',
})

In [25]:
airport_count

   state  airport_count
0     AL              6
1     AR              4
2     AZ              7
3     CA             23
4     CO             12
5     CT              2
6     FL             19
7     GA              8
8     IA              5
9     ID              6
10    IL             12
11    IN              4
12    KS              6
13    KY              5
14    LA              7
15    MA              6
16    MD              3
17    ME              3
18    MI             15
19    MN              8
20    MO              7
21    MS              6
22    MT              7
23    NC             10
24    ND              8
25    NE              6
26    NH              3
27    NJ              3
28    NM              5
29    NV              3
30    NY             16
31    OH              6
32    OK              4
33    OR              5
34    PA              9
35    RI              3
36    SC              6
37    SD              5
38    TN              5
39    TX             25
40    UT              7
41    VA              9
42    VT              1
43    WA             12
44    WI              8
45    WV              5
46    WY              9

In [27]:
# Create a pivot table
airport2_df = df.pivot_table(index='ORIGIN_STATE_ABR', columns='category', aggfunc='size', fill_value=0).reset_index()

# Rename the index column
airport2_df = airport2_df.rename(columns={'ORIGIN_STATE_ABR': 'state'})

In [28]:
airport2_df

category,state,1-5 million,100k-1 million,10k-100k,less than 10k,more than 5 million
0,AL,1,3,2,0,0
1,AR,1,1,2,0,0
2,AZ,1,2,3,0,1
3,CA,4,7,4,1,7
4,CO,0,7,2,2,1
5,CT,1,0,1,0,0
6,FL,6,9,0,0,4
7,GA,1,1,5,0,1
8,IA,1,1,3,0,0
9,ID,1,1,4,0,0
10,IL,0,6,3,1,2
11,IN,1,3,0,0,0
12,KS,0,1,4,1,0
13,KY,2,1,2,0,0
14,LA,0,5,1,0,1
15,MA,0,1,4,0,1
16,MD,0,0,2,0,1
17,ME,1,1,1,0,0
18,MI,1,5,8,0,1
19,MN,0,2,5,0,1
20,MO,0,2,3,0,2
21,MS,0,2,4,0,0
22,MT,0,6,1,0,0
23,NC,1,6,1,0,2
24,ND,0,4,3,1,0
25,NE,1,1,4,0,0
26,NH,0,1,2,0,0
27,NJ,0,2,0,0,1
28,NM,1,1,2,1,0
29,NV,1,0,1,0,1
30,NY,4,7,3,0,2
31,OH,2,4,0,0,0
32,OK,2,0,2,0,0
33,OR,0,3,1,0,1
34,PA,1,6,1,0,1
35,RI,1,0,2,0,0
36,SC,3,2,1,0,0
37,SD,0,2,3,0,0
38,TN,2,2,0,0,1
39,TX,2,8,10,0,5
40,UT,0,2,4,0,1
41,VA,2,3,2,0,2
42,VT,0,1,0,0,0
43,WA,1,3,7,0,1
44,WI,2,3,3,0,0
45,WV,0,2,3,0,0
46,WY,0,1,8,0,0

In [30]:
# Merge airport_df with airport2_df
merged_df = airport_count.merge(airport2_df, on='state', how='left')

In [31]:
merged_df

,state,airport_count,1-5 million,100k-1 million,10k-100k,less than 10k,more than 5 million
0,AL,6,1,3,2,0,0
1,AR,4,1,1,2,0,0
2,AZ,7,1,2,3,0,1
3,CA,23,4,7,4,1,7
4,CO,12,0,7,2,2,1
5,CT,2,1,0,1,0,0
6,FL,19,6,9,0,0,4
7,GA,8,1,1,5,0,1
8,IA,5,1,1,3,0,0
9,ID,6,1,1,4,0,0
10,IL,12,0,6,3,1,2
11,IN,4,1,3,0,0,0
12,KS,6,0,1,4,1,0
13,KY,5,2,1,2,0,0
14,LA,7,0,5,1,0,1
15,MA,6,0,1,4,0,1
16,MD,3,0,0,2,0,1
17,ME,3,1,1,1,0,0
18,MI,15,1,5,8,0,1
19,MN,8,0,2,5,0,1
20,MO,7,0,2,3,0,2
21,MS,6,0,2,4,0,0
22,MT,7,0,6,1,0,0
23,NC,10,1,6,1,0,2
24,ND,8,0,4,3,1,0
25,NE,6,1,1,4,0,0
26,NH,3,0,1,2,0,0
27,NJ,3,0,2,0,0,1
28,NM,5,1,1,2,1,0
29,NV,3,1,0,1,0,1
30,NY,16,4,7,3,0,2
31,OH,6,2,4,0,0,0
32,OK,4,2,0,2,0,0
33,OR,5,0,3,1,0,1
34,PA,9,1,6,1,0,1
35,RI,3,1,0,2,0,0
36,SC,6,3,2,1,0,0
37,SD,5,0,2,3,0,0
38,TN,5,2,2,0,0,1
39,TX,25,2,8,10,0,5
40,UT,7,0,2,4,0,1
41,VA,9,2,3,2,0,2
42,VT,1,0,1,0,0,0
43,WA,12,1,3,7,0,1
44,WI,8,2,3,3,0,0
45,WV,5,0,2,3,0,0
46,WY,9,0,1,8,0,0

In [32]:
# Reorder the columns
merged_df = merged_df[['state', 'airport_count', 'more than 5 million', '1-5 million', '100k-1 million', '10k-100k', 'less than 10k']]

In [33]:
merged_df

,state,airport_count,more than 5 million,1-5 million,100k-1 million,10k-100k,less than 10k
0,AL,6,0,1,3,2,0
1,AR,4,0,1,1,2,0
2,AZ,7,1,1,2,3,0
3,CA,23,7,4,7,4,1
4,CO,12,1,0,7,2,2
5,CT,2,0,1,0,1,0
6,FL,19,4,6,9,0,0
7,GA,8,1,1,1,5,0
8,IA,5,0,1,1,3,0
9,ID,6,0,1,1,4,0
10,IL,12,2,0,6,3,1
11,IN,4,0,1,3,0,0
12,KS,6,0,0,1,4,1
13,KY,5,0,2,1,2,0
14,LA,7,1,0,5,1,0
15,MA,6,1,0,1,4,0
16,MD,3,1,0,0,2,0
17,ME,3,0,1,1,1,0
18,MI,15,1,1,5,8,0
19,MN,8,1,0,2,5,0
20,MO,7,2,0,2,3,0
21,MS,6,0,0,2,4,0
22,MT,7,0,0,6,1,0
23,NC,10,2,1,6,1,0
24,ND,8,0,0,4,3,1
25,NE,6,0,1,1,4,0
26,NH,3,0,0,1,2,0
27,NJ,3,1,0,2,0,0
28,NM,5,0,1,1,2,1
29,NV,3,1,1,0,1,0
30,NY,16,2,4,7,3,0
31,OH,6,0,2,4,0,0
32,OK,4,0,2,0,2,0
33,OR,5,1,0,3,1,0
34,PA,9,1,1,6,1,0
35,RI,3,0,1,0,2,0
36,SC,6,0,3,2,1,0
37,SD,5,0,0,2,3,0
38,TN,5,1,2,2,0,0
39,TX,25,5,2,8,10,0
40,UT,7,1,0,2,4,0
41,VA,9,2,2,3,2,0
42,VT,1,0,0,1,0,0
43,WA,12,1,1,3,7,0
44,WI,8,0,2,3,3,0
45,WV,5,0,0,2,3,0
46,WY,9,0,0,1,8,0

In [34]:
merged_df.to_csv('airports_and_categories_@states.csv', index=False)

In [35]:
# Create a pivot table
airport3_df = df.pivot_table(index='ORIGIN_STATE_ABR', columns='change_category', aggfunc='size', fill_value=0).reset_index()

# Rename the index column
airport3_df = airport3_df.rename(columns={'ORIGIN_STATE_ABR': 'state'})

In [36]:
airport3_df

change_category,state,at least -10%,at least -20%,at least -30%,at least 10%,at least 20%,at least 30%,less than -10%,less than 10%,other,unchanged
0,AL,1,2,3,0,0,0,0,0,0,0
1,AR,1,1,1,0,0,0,0,1,0,0
2,AZ,4,0,0,0,0,0,2,1,0,0
3,CA,6,4,2,2,0,1,2,5,1,0
4,CO,1,2,1,0,2,1,3,1,1,0
5,CT,1,0,0,0,0,1,0,0,0,0
6,FL,5,2,0,4,0,1,5,2,0,0
7,GA,3,1,0,0,0,1,3,0,0,0
8,IA,1,1,2,0,0,0,0,1,0,0
9,ID,0,0,2,1,0,1,0,2,0,0
10,IL,1,2,4,1,0,1,3,0,0,0
11,IN,1,2,1,0,0,0,0,0,0,0
12,KS,3,0,1,0,0,0,1,1,0,0
13,KY,1,2,1,0,0,0,1,0,0,0
14,LA,2,3,1,0,0,0,1,0,0,0
15,MA,1,1,2,0,0,0,2,0,0,0
16,MD,0,1,2,0,0,0,0,0,0,0
17,ME,0,1,0,0,0,0,1,1,0,0
18,MI,1,4,4,1,0,0,1,3,0,1
19,MN,3,2,1,1,0,0,0,1,0,0
20,MO,0,3,4,0,0,0,0,0,0,0
21,MS,3,1,0,0,0,0,1,1,0,0
22,MT,2,2,1,0,1,0,1,0,0,0
23,NC,1,3,4,0,0,0,2,0,0,0
24,ND,1,3,2,0,0,0,1,1,0,0
25,NE,1,1,1,1,0,0,0,2,0,0
26,NH,1,0,1,0,0,0,1,0,0,0
27,NJ,0,1,0,0,0,0,1,1,0,0
28,NM,3,1,1,0,0,0,0,0,0,0
29,NV,1,0,1,0,0,0,0,1,0,0
30,NY,3,3,6,0,0,0,2,2,0,0
31,OH,0,2,3,0,0,0,1,0,0,0
32,OK,4,0,0,0,0,0,0,0,0,0
33,OR,1,0,1,0,0,0,2,1,0,0
34,PA,1,3,5,0,0,0,0,0,0,0
35,RI,2,0,0,0,0,0,1,0,0,0
36,SC,0,2,1,0,0,1,1,1,0,0
37,SD,1,1,0,0,1,0,2,0,0,0
38,TN,1,2,1,0,0,0,0,1,0,0
39,TX,15,2,2,0,0,1,4,1,0,0
40,UT,3,0,0,0,0,1,1,2,0,0
41,VA,4,1,2,0,0,0,0,2,0,0
42,VT,0,1,0,0,0,0,0,0,0,0
43,WA,3,1,4,1,0,0,2,1,0,0
44,WI,1,4,2,0,0,0,1,0,0,0
45,WV,0,1,1,1,0,0,1,1,0,0
46,WY,3,1,2,1,0,0,2,0,0,0

In [37]:
merged2_df = airport_count.merge(airport3_df, on='state', how='left')

In [38]:
merged2_df

,state,airport_count,at least -10%,at least -20%,at least -30%,at least 10%,at least 20%,at least 30%,less than -10%,less than 10%,other,unchanged
0,AL,6,1,2,3,0,0,0,0,0,0,0
1,AR,4,1,1,1,0,0,0,0,1,0,0
2,AZ,7,4,0,0,0,0,0,2,1,0,0
3,CA,23,6,4,2,2,0,1,2,5,1,0
4,CO,12,1,2,1,0,2,1,3,1,1,0
5,CT,2,1,0,0,0,0,1,0,0,0,0
6,FL,19,5,2,0,4,0,1,5,2,0,0
7,GA,8,3,1,0,0,0,1,3,0,0,0
8,IA,5,1,1,2,0,0,0,0,1,0,0
9,ID,6,0,0,2,1,0,1,0,2,0,0
10,IL,12,1,2,4,1,0,1,3,0,0,0
11,IN,4,1,2,1,0,0,0,0,0,0,0
12,KS,6,3,0,1,0,0,0,1,1,0,0
13,KY,5,1,2,1,0,0,0,1,0,0,0
14,LA,7,2,3,1,0,0,0,1,0,0,0
15,MA,6,1,1,2,0,0,0,2,0,0,0
16,MD,3,0,1,2,0,0,0,0,0,0,0
17,ME,3,0,1,0,0,0,0,1,1,0,0
18,MI,15,1,4,4,1,0,0,1,3,0,1
19,MN,8,3,2,1,1,0,0,0,1,0,0
20,MO,7,0,3,4,0,0,0,0,0,0,0
21,MS,6,3,1,0,0,0,0,1,1,0,0
22,MT,7,2,2,1,0,1,0,1,0,0,0
23,NC,10,1,3,4,0,0,0,2,0,0,0
24,ND,8,1,3,2,0,0,0,1,1,0,0
25,NE,6,1,1,1,1,0,0,0,2,0,0
26,NH,3,1,0,1,0,0,0,1,0,0,0
27,NJ,3,0,1,0,0,0,0,1,1,0,0
28,NM,5,3,1,1,0,0,0,0,0,0,0
29,NV,3,1,0,1,0,0,0,0,1,0,0
30,NY,16,3,3,6,0,0,0,2,2,0,0
31,OH,6,0,2,3,0,0,0,1,0,0,0
32,OK,4,4,0,0,0,0,0,0,0,0,0
33,OR,5,1,0,1,0,0,0,2,1,0,0
34,PA,9,1,3,5,0,0,0,0,0,0,0
35,RI,3,2,0,0,0,0,0,1,0,0,0
36,SC,6,0,2,1,0,0,1,1,1,0,0
37,SD,5,1,1,0,0,1,0,2,0,0,0
38,TN,5,1,2,1,0,0,0,0,1,0,0
39,TX,25,15,2,2,0,0,1,4,1,0,0
40,UT,7,3,0,0,0,0,1,1,2,0,0
41,VA,9,4,1,2,0,0,0,0,2,0,0
42,VT,1,0,1,0,0,0,0,0,0,0,0
43,WA,12,3,1,4,1,0,0,2,1,0,0
44,WI,8,1,4,2,0,0,0,1,0,0,0
45,WV,5,0,1,1,1,0,0,1,1,0,0
46,WY,9,3,1,2,1,0,0,2,0,0,0

In [39]:
merged2_df.columns

Index(['state', 'airport_count', 'at least -10%', 'at least -20%',
       'at least -30%', 'at least 10%', 'at least 20%', 'at least 30%',
       'less than -10%', 'less than 10%', 'other', 'unchanged'],
      dtype='object')

In [40]:
merged2_df = merged2_df[['state', 'airport_count', 'at least -30%', 'at least -20%', 'at least -10%', 'less than -10%', 'less than 10%', 'at least 10%', 'at least 20%', 'at least 30%', 'other', 'unchanged']]

In [41]:
merged2_df

,state,airport_count,at least -30%,at least -20%,at least -10%,less than -10%,less than 10%,at least 10%,at least 20%,at least 30%,other,unchanged
0,AL,6,3,2,1,0,0,0,0,0,0,0
1,AR,4,1,1,1,0,1,0,0,0,0,0
2,AZ,7,0,0,4,2,1,0,0,0,0,0
3,CA,23,2,4,6,2,5,2,0,1,1,0
4,CO,12,1,2,1,3,1,0,2,1,1,0
5,CT,2,0,0,1,0,0,0,0,1,0,0
6,FL,19,0,2,5,5,2,4,0,1,0,0
7,GA,8,0,1,3,3,0,0,0,1,0,0
8,IA,5,2,1,1,0,1,0,0,0,0,0
9,ID,6,2,0,0,0,2,1,0,1,0,0
10,IL,12,4,2,1,3,0,1,0,1,0,0
11,IN,4,1,2,1,0,0,0,0,0,0,0
12,KS,6,1,0,3,1,1,0,0,0,0,0
13,KY,5,1,2,1,1,0,0,0,0,0,0
14,LA,7,1,3,2,1,0,0,0,0,0,0
15,MA,6,2,1,1,2,0,0,0,0,0,0
16,MD,3,2,1,0,0,0,0,0,0,0,0
17,ME,3,0,1,0,1,1,0,0,0,0,0
18,MI,15,4,4,1,1,3,1,0,0,0,1
19,MN,8,1,2,3,0,1,1,0,0,0,0
20,MO,7,4,3,0,0,0,0,0,0,0,0
21,MS,6,0,1,3,1,1,0,0,0,0,0
22,MT,7,1,2,2,1,0,0,1,0,0,0
23,NC,10,4,3,1,2,0,0,0,0,0,0
24,ND,8,2,3,1,1,1,0,0,0,0,0
25,NE,6,1,1,1,0,2,1,0,0,0,0
26,NH,3,1,0,1,1,0,0,0,0,0,0
27,NJ,3,0,1,0,1,1,0,0,0,0,0
28,NM,5,1,1,3,0,0,0,0,0,0,0
29,NV,3,1,0,1,0,1,0,0,0,0,0
30,NY,16,6,3,3,2,2,0,0,0,0,0
31,OH,6,3,2,0,1,0,0,0,0,0,0
32,OK,4,0,0,4,0,0,0,0,0,0,0
33,OR,5,1,0,1,2,1,0,0,0,0,0
34,PA,9,5,3,1,0,0,0,0,0,0,0
35,RI,3,0,0,2,1,0,0,0,0,0,0
36,SC,6,1,2,0,1,1,0,0,1,0,0
37,SD,5,0,1,1,2,0,0,1,0,0,0
38,TN,5,1,2,1,0,1,0,0,0,0,0
39,TX,25,2,2,15,4,1,0,0,1,0,0
40,UT,7,0,0,3,1,2,0,0,1,0,0
41,VA,9,2,1,4,0,2,0,0,0,0,0
42,VT,1,0,1,0,0,0,0,0,0,0,0
43,WA,12,4,1,3,2,1,1,0,0,0,0
44,WI,8,2,4,1,1,0,0,0,0,0,0
45,WV,5,1,1,0,1,1,1,0,0,0,0
46,WY,9,2,1,3,2,0,1,0,0,0,0

In [42]:
merged2_df.to_csv('airports_and_cat_changes_@states.csv', index=False)