In [2]:
import pandas as pd

In [3]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 322A-B5F7

 Directory of c:\Users\Juhana\Desktop\Masters_New\above10K\time_series_destinations\time_series_by_origin&dest\deps

06/18/2023  05:49 PM    <DIR>          .
06/18/2023  05:49 PM    <DIR>          ..
06/18/2023  03:49 PM            32,956 above10K_airports_list.csv
06/18/2023  08:42 AM    <DIR>          Annual_by_month
06/18/2023  05:38 PM         2,884,999 annual_time_series_deps_by_origin&dest.csv
06/18/2023  05:49 PM    <DIR>          joining_data
06/18/2023  05:46 PM            44,080 join_airport_data.ipynb
06/18/2023  05:46 PM            30,684 join_airport_data_final.ipynb
06/18/2023  04:18 PM         2,613,360 merged_airport_data.csv
06/16/2023  01:49 PM         2,724,082 quarterly_time_series_deps_by_origin&dest.csv
06/16/2023  01:43 PM             7,547 wrangling_annual_by_origin&dest.ipynb
06/16/2023  11:49 PM            20,303 wrangling_quarterly_by_origin&dest.ipynb
               8 File(s)      8,358,011 bytes
               4 Dir(s)  85,080,567,808 bytes free

In [4]:
df1 = pd.read_csv('quarterly_time_series_deps_by_origin&dest.csv')

In [5]:
df1.columns

Index(['ORIGIN_AIRPORT_ID', 'ORIGIN_STATE_ABR', 'CODE', 'NAME',
       'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q', '2020_2Q',
       '2020_3Q', '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q', '2021_4Q',
       '2022_1Q', '2022_2Q', '2022_3Q', '2022_4Q'],
      dtype='object')

In [6]:
df2 = pd.read_csv('above10K_airports_list.csv')

In [6]:
df2.columns

Index(['ORIGIN_AIRPORT_ID', 'CODE', 'ORIGIN_STATE_ABR', 'NAME', 'LOCATION',
       'category', 'EAS', 'hub_cat', 'diff', 'pct_change', 'change_category'],
      dtype='object')

In [7]:
df1 = df1.loc[:, ['ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR', '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q', '2020_2Q',
       '2020_3Q', '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q', '2021_4Q',
       '2022_1Q', '2022_2Q', '2022_3Q', '2022_4Q']]

In [8]:
df1.columns

Index(['ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', '2019', '2020', '2021', '2022'],
      dtype='object')

In [8]:
merged_df = pd.merge(df1, df2, on='ORIGIN_AIRPORT_ID')

In [10]:
merged_df

,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,2019_1Q,2019_2Q,2019_3Q,2019_4Q,2020_1Q,...,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,hub_cat,diff,pct_change,change_category
0,10135,10397.0,ATL,"Atlanta, GA",GA,217.0,246.0,253.0,236.0,206.0,...,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,S,loss,-21.7,at least -20%
1,10135,10434.0,AVP,"Scranton/Wilkes-Barre, PA",PA,0.0,0.0,1.0,1.0,0.0,...,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,S,loss,-21.7,at least -20%
2,10135,10469.0,AZO,"Kalamazoo, MI",MI,0.0,0.0,1.0,0.0,NaN,...,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,S,loss,-21.7,at least -20%
3,10135,10693.0,BNA,"Nashville, TN",TN,0.0,13.0,27.0,27.0,13.0,...,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,S,loss,-21.7,at least -20%
4,10135,10868.0,CAE,"Columbia, SC",SC,0.0,1.0,0.0,0.0,NaN,...,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,S,loss,-21.7,at least -20%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18910,10617,12954.0,LGB,"Long Beach, CA",CA,NaN,NaN,NaN,NaN,NaN,...,BIH,CA,Bishop Airport,Bishop,less than 10k,no,NaN,gain,NaN,other
18911,10617,13388.0,MMH,"Mammoth Lakes, CA",CA,NaN,NaN,NaN,NaN,NaN,...,BIH,CA,Bishop Airport,Bishop,less than 10k,no,NaN,gain,NaN,other
18912,11719,10800.0,BUR,"Burbank, CA",CA,NaN,NaN,NaN,NaN,NaN,...,FNL,CO,Northern Colorado Regional,Fort Collins/Loveland,less than 10k,no,NaN,gain,NaN,other
18913,11719,12889.0,LAS,"Las Vegas, NV",NV,NaN,NaN,NaN,NaN,NaN,...,FNL,CO,Northern Colorado Regional,Fort Collins/Loveland,less than 10k,no,NaN,gain,NaN,other
18914,11719,11292.0,DEN,"Denver, CO",CO,NaN,NaN,NaN,NaN,NaN,...,FNL,CO,Northern Colorado Regional,Fort Collins/Loveland,less than 10k,no,NaN,gain,NaN,other

In [11]:
merged_df = merged_df[['ORIGIN_AIRPORT_ID', 'CODE', 'ORIGIN_STATE_ABR', 'NAME', 'LOCATION',
                       'category', 'EAS', 'hub_cat', 'diff', 'pct_change', 'change_category', 
                       'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR', '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q', '2020_2Q',
       '2020_3Q', '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q', '2021_4Q',
       '2022_1Q', '2022_2Q', '2022_3Q', '2022_4Q']]

In [12]:
merged_df

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,hub_cat,diff,pct_change,...,2020_3Q,2020_4Q,2021_1Q,2021_2Q,2021_3Q,2021_4Q,2022_1Q,2022_2Q,2022_3Q,2022_4Q
0,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,S,loss,-21.7,...,0.0,89.0,111.0,260.0,258.0,227.0,211.0,232.0,227.0,220.0
1,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,S,loss,-21.7,...,2.0,0.0,0.0,0.0,4.0,0.0,NaN,NaN,NaN,NaN
2,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,S,loss,-21.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,S,loss,-21.7,...,20.0,21.0,14.0,25.0,14.0,12.0,9.0,24.0,27.0,27.0
4,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,S,loss,-21.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18910,10617,BIH,CA,Bishop Airport,Bishop,less than 10k,no,NaN,gain,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,1.0
18911,10617,BIH,CA,Bishop Airport,Bishop,less than 10k,no,NaN,gain,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
18912,11719,FNL,CO,Northern Colorado Regional,Fort Collins/Loveland,less than 10k,no,NaN,gain,NaN,...,NaN,NaN,0.0,0.0,0.0,25.0,26.0,21.0,0.0,0.0
18913,11719,FNL,CO,Northern Colorado Regional,Fort Collins/Loveland,less than 10k,no,NaN,gain,NaN,...,NaN,NaN,0.0,0.0,0.0,5.0,26.0,21.0,0.0,0.0
18914,11719,FNL,CO,Northern Colorado Regional,Fort Collins/Loveland,less than 10k,no,NaN,gain,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.0,0.0

In [15]:
hub_df = df2.loc[:, ['ORIGIN_AIRPORT_ID', 'hub_cat']]

In [16]:
hub_df

     ORIGIN_AIRPORT_ID hub_cat
0                10562     NaN
1                10599       S
2                11308       N
3                12217       S
4                13277       N
..                 ...     ...
349              12441       S
350              12888       N
351              14534       N
352              14543       N
353              14812       N

[354 rows x 2 columns]

In [18]:
# Reset index if 'ORIGIN_AIRPORT_ID' is an index in either DataFrame
merged_df.reset_index(inplace=True)
hub_df.reset_index(inplace=True)

# Perform the merge operation
merged_df = pd.merge(merged_df, hub_df.rename(columns={'hub_cat':'hub_cat_dest'}), 
                     left_on='DEST_AIRPORT_ID', right_on='ORIGIN_AIRPORT_ID', how='left')

# Print the columns of the merged DataFrame to verify the merge operation
print(merged_df.columns)

Index(['index_x', 'ORIGIN_AIRPORT_ID_x', 'CODE', 'ORIGIN_STATE_ABR', 'NAME',
       'LOCATION', 'category', 'EAS', 'hub_cat', 'diff', 'pct_change',
       'change_category', 'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q',
       '2020_2Q', '2020_3Q', '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q',
       '2021_4Q', '2022_1Q', '2022_2Q', '2022_3Q', '2022_4Q',
       'ORIGIN_AIRPORT_ID_y', 'hub_cat_dest_x', 'index_y', 'ORIGIN_AIRPORT_ID',
       'hub_cat_dest_y'],
      dtype='object')

In [20]:
merged_df = merged_df[['ORIGIN_AIRPORT_ID_x', 'CODE', 'ORIGIN_STATE_ABR', 'NAME', 'LOCATION',
                       'category', 'EAS', 'hub_cat', 'diff', 'pct_change', 'change_category', 
                       'DEST_AIRPORT_ID', 'DEST', 'hub_cat_dest_x', 'DEST_CITY_NAME', 
                       'DEST_STATE_ABR', '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q', '2020_2Q',
       '2020_3Q', '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q', '2021_4Q',
       '2022_1Q', '2022_2Q', '2022_3Q', '2022_4Q']]

In [21]:
merged_df.columns

Index(['ORIGIN_AIRPORT_ID_x', 'CODE', 'ORIGIN_STATE_ABR', 'NAME', 'LOCATION',
       'category', 'EAS', 'hub_cat', 'diff', 'pct_change', 'change_category',
       'DEST_AIRPORT_ID', 'DEST', 'hub_cat_dest_x', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q',
       '2020_2Q', '2020_3Q', '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q',
       '2021_4Q', '2022_1Q', '2022_2Q', '2022_3Q', '2022_4Q'],
      dtype='object')

In [22]:
name_df = df2.loc[:, ['ORIGIN_AIRPORT_ID', 'NAME']]

In [23]:
name_df

     ORIGIN_AIRPORT_ID                                         NAME
0                10562                         Mobile International
1                10599       Birmingham-Shuttlesworth International
2                11308                              Dothan Regional
3                12217  Huntsville International-Carl T Jones Field
4                13277                          Montgomery Regional
..                 ...                                          ...
349              12441                                 Jackson Hole
350              12888                             Laramie Regional
351              14534                     Central Wyoming Regional
352              14543                   Southwest Wyoming Regional
353              14812                              Sheridan County

[354 rows x 2 columns]

In [24]:
merged_df.columns

Index(['ORIGIN_AIRPORT_ID_x', 'CODE', 'ORIGIN_STATE_ABR', 'NAME', 'LOCATION',
       'category', 'EAS', 'hub_cat', 'diff', 'pct_change', 'change_category',
       'DEST_AIRPORT_ID', 'DEST', 'hub_cat_dest_x', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q',
       '2020_2Q', '2020_3Q', '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q',
       '2021_4Q', '2022_1Q', '2022_2Q', '2022_3Q', '2022_4Q'],
      dtype='object')

In [25]:
# Reset index if 'ORIGIN_AIRPORT_ID' is an index in either DataFrame
merged_df.reset_index(inplace=True)
name_df.reset_index(inplace=True)

# Then, rename the 'NAME' column in 'name_df' to 'NAME_DEST'
name_df.rename(columns={'NAME': 'NAME_DEST'}, inplace=True)

# Perform the merge operation
merged_df = pd.merge(merged_df, name_df, 
                     left_on='DEST_AIRPORT_ID', right_on='ORIGIN_AIRPORT_ID', how='left')

# Now, drop the 'DEST_CITY_NAME' column
merged_df.drop('DEST_CITY_NAME', axis=1, inplace=True)

# Rearrange the columns to your specified order
merged_df = merged_df[['ORIGIN_AIRPORT_ID_x', 'CODE', 'ORIGIN_STATE_ABR', 'NAME', 'LOCATION',
                       'category', 'EAS', 'hub_cat', 'diff', 'pct_change', 'change_category', 
                       'DEST_AIRPORT_ID', 'DEST', 'hub_cat_dest_x', 'NAME_DEST', 
                       'DEST_STATE_ABR', '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q',
       '2020_2Q', '2020_3Q', '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q',
       '2021_4Q', '2022_1Q', '2022_2Q', '2022_3Q', '2022_4Q']]

In [27]:
merged_df.columns

Index(['ORIGIN_AIRPORT_ID_x', 'CODE', 'ORIGIN_STATE_ABR', 'NAME', 'LOCATION',
       'category', 'EAS', 'hub_cat', 'diff', 'pct_change', 'change_category',
       'DEST_AIRPORT_ID', 'DEST', 'hub_cat_dest_x', 'NAME_DEST',
       'DEST_STATE_ABR', '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q',
       '2020_2Q', '2020_3Q', '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q',
       '2021_4Q', '2022_1Q', '2022_2Q', '2022_3Q', '2022_4Q'],
      dtype='object')

In [28]:
merged_df.rename(columns={'ORIGIN_AIRPORT_ID_x': 'ORIGIN_AIRPORT_ID', 'hub_cat_dest_x': 'hub_cat_dest'}, inplace=True)

In [29]:
merged_df.to_csv('quarterly_time_series_deps_by_origin&dest.csv', index=False)