In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('annual_time_series_by_actypes@airports.csv')

In [3]:
df.columns

Index(['ORIGIN_AIRPORT_ID', 'ORIGIN_STATE_ABR', 'CODE', 'NAME',
       'AIRCRAFT_TYPE', 'Description', '2019', '2020', '2021', '2022'],
      dtype='object')

In [4]:
# First, let's create the total_2019 and total_2022
df['total_2019'] = df.groupby('ORIGIN_AIRPORT_ID')['2019'].transform('sum')
df['total_2022'] = df.groupby('ORIGIN_AIRPORT_ID')['2022'].transform('sum')

# Now, let's create a mask for the AIRCRAFT_TYPE values of interest
mask = df['AIRCRAFT_TYPE'].isin([628, 629, 674, 675, 676])

# Use this mask to sum the values in 2019 and 2022 for these specific AIRCRAFT_TYPEs
df['total_50s_2019'] = df.loc[mask].groupby('ORIGIN_AIRPORT_ID')['2019'].transform('sum')
df['total_50s_2022'] = df.loc[mask].groupby('ORIGIN_AIRPORT_ID')['2022'].transform('sum')

# Fill NaN values (where the AIRCRAFT_TYPE is not one of the ones specified) with 0
df['total_50s_2019'].fillna(0, inplace=True)
df['total_50s_2022'].fillna(0, inplace=True)

# Calculate the percentages
df['pct_50_2019'] = df['total_50s_2019'] / df['total_2019'] * 100
df['pct_50_2022'] = df['total_50s_2022'] / df['total_2022'] * 100

# Finally, let's create the output_df
output_df = df[['ORIGIN_AIRPORT_ID', 'ORIGIN_STATE_ABR', 'CODE', 'NAME', 'total_2019', 'total_2022', 'total_50s_2019', 'pct_50_2019', 'total_50s_2022', 'pct_50_2022']].drop_duplicates()

In [5]:
output_df

,ORIGIN_AIRPORT_ID,ORIGIN_STATE_ABR,CODE,NAME,total_2019,total_2022,total_50s_2019,pct_50_2019,total_50s_2022,pct_50_2022
0,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",395557,314165,0.0,0.000000,0.0,0.000000
13,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",395557,314165,37002.0,9.354404,17658.0,5.620613
33,13930,IL,ORD,"Chicago, IL: Chicago O'Hare International",392793,291702,0.0,0.000000,0.0,0.000000
44,13930,IL,ORD,"Chicago, IL: Chicago O'Hare International",392793,291702,122896.0,31.287727,67913.0,23.281637
69,11292,CO,DEN,"Denver, CO: Denver International",288617,277694,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...
4943,14092,NC,PGV,"Greenville, NC: Pitt Greenville",1484,786,0.0,0.000000,0.0,0.000000
4973,11415,TX,DRT,"Del Rio, TX: Del Rio International",714,683,0.0,0.000000,0.0,0.000000
4979,12129,MN,HIB,"Hibbing, MN: Range Regional",627,640,0.0,0.000000,0.0,0.000000
4989,10409,SD,ATY,"Watertown, SD: Watertown Regional",502,623,0.0,0.000000,0.0,0.000000
4996,11719,CO,FNL,"Fort Collins/Loveland, CO: Northern Colorado R...",0,96,0.0,NaN,1.0,1.041667

In [6]:
output_df.to_csv('50_airports.csv', index=False)

In [7]:
df1 = pd.read_csv('50_airports_cleaned.csv')

In [8]:
df1

,ORIGIN_AIRPORT_ID,ORIGIN_STATE_ABR,CODE,NAME,total_2019,total_2022,total_50s_2019,pct_50_2019,total_50s_2022,pct_50_2022
0,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",395557,314165,37002,9.354404,17658,5.620613
1,13930,IL,ORD,"Chicago, IL: Chicago O'Hare International",392793,291702,122896,31.287727,67913,23.281637
2,11292,CO,DEN,"Denver, CO: Denver International",288617,277694,57367,19.876515,39491,14.221049
3,11298,TX,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",302386,272740,32428,10.724041,21377,7.837868
4,12892,CA,LAX,"Los Angeles, CA: Los Angeles International",249333,191194,9584,3.843855,4170,2.181031
...,...,...,...,...,...,...,...,...,...,...
368,12441,WY,JAC,"Jackson, WY: Jackson Hole",4743,4703,0,0.000000,1,0.021263
369,11415,TX,DRT,"Del Rio, TX: Del Rio International",714,683,0,0.000000,0,0.000000
370,12129,MN,HIB,"Hibbing, MN: Range Regional",627,640,0,0.000000,0,0.000000
371,10409,SD,ATY,"Watertown, SD: Watertown Regional",502,623,0,0.000000,0,0.000000
372,11719,CO,FNL,"Fort Collins/Loveland, CO: Northern Colorado R...",0,96,0,NaN,1,1.041667

In [9]:
df2 = df1[df1.duplicated(subset='CODE', keep=False)]

In [10]:
df2

,ORIGIN_AIRPORT_ID,ORIGIN_STATE_ABR,CODE,NAME,total_2019,total_2022,total_50s_2019,pct_50_2019,total_50s_2022,pct_50_2022
127,12441,WY,JAC,"Jackson, WY: Jackson Hole",4743,4703,0,0.000000,0,0.000000
245,11308,AL,DHN,"Dothan, AL: Dothan Regional",1382,933,1382,100.000000,883,94.640943
252,12007,MS,GTR,"Columbus, MS: Golden Triangle Regional",1188,1018,1188,100.000000,1015,99.705305
263,10731,GA,BQK,"Brunswick, GA: Brunswick Golden Isles",1035,870,1035,100.000000,870,100.000000
268,11274,IA,DBQ,"Dubuque, IA: Dubuque Regional",985,441,985,100.000000,441,100.000000
274,10728,TX,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",961,782,961,100.000000,671,85.805627
285,14006,KY,PAH,"Paducah, KY: Barkley Regional",1239,796,1239,100.000000,795,99.874372
288,11013,MI,CIU,"Sault Ste. Marie, MI: Chippewa County Internat...",667,709,667,100.000000,709,100.000000
299,11415,TX,DRT,"Del Rio, TX: Del Rio International",714,683,714,100.000000,268,39.238653
311,14534,WY,RIW,"Riverton/Lander, WY: Central Wyoming Regional",1020,391,0,0.000000,0,0.000000
319,12129,MN,HIB,"Hibbing, MN: Range Regional",627,640,627,100.000000,638,99.687500
320,14802,VA,SHD,"Staunton, VA: Shenandoah Valley Regional",696,701,696,100.000000,701,100.000000
322,14120,SD,PIR,"Pierre, SD: Pierre Regional",631,617,630,99.841521,565,91.572123
323,14120,SD,PIR,"Pierre, SD: Pierre Regional",631,617,0,0.000000,0,0.000000
332,14231,ME,PQI,"Presque Isle/Houlton, ME: Presque Isle Interna...",568,579,568,100.000000,0,0.000000
337,14812,WY,SHR,"Sheridan, WY: Sheridan County",715,622,0,0.000000,0,0.000000
338,10409,SD,ATY,"Watertown, SD: Watertown Regional",502,623,502,100.000000,596,95.666132
347,15454,IL,UIN,"Quincy, IL: Quincy Regional-Baldwin Field",594,1169,594,100.000000,0,0.000000
349,11288,IL,DEC,"Decatur, IL: Decatur Airport",1842,1005,0,0.000000,0,0.000000
352,11197,NM,CVN,"Clovis, NM: Clovis Regional",964,624,0,0.000000,0,0.000000
353,12007,MS,GTR,"Columbus, MS: Golden Triangle Regional",1188,1018,0,0.000000,0,0.000000
354,10731,GA,BQK,"Brunswick, GA: Brunswick Golden Isles",1035,870,0,0.000000,0,0.000000
355,14006,KY,PAH,"Paducah, KY: Barkley Regional",1239,796,0,0.000000,0,0.000000
356,11013,MI,CIU,"Sault Ste. Marie, MI: Chippewa County Internat...",667,709,0,0.000000,0,0.000000
357,14534,WY,RIW,"Riverton/Lander, WY: Central Wyoming Regional",1020,391,0,0.000000,391,100.000000
358,14812,WY,SHR,"Sheridan, WY: Sheridan County",715,622,0,0.000000,621,99.839228
359,15454,IL,UIN,"Quincy, IL: Quincy Regional-Baldwin Field",594,1169,0,0.000000,0,0.000000
360,11288,IL,DEC,"Decatur, IL: Decatur Airport",1842,1005,0,0.000000,1005,100.000000
361,11308,AL,DHN,"Dothan, AL: Dothan Regional",1382,933,0,0.000000,0,0.000000
362,11274,IA,DBQ,"Dubuque, IA: Dubuque Regional",985,441,0,0.000000,0,0.000000
363,10728,TX,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",961,782,0,0.000000,0,0.000000
364,14802,VA,SHD,"Staunton, VA: Shenandoah Valley Regional",696,701,0,0.000000,0,0.000000
365,14231,ME,PQI,"Presque Isle/Houlton, ME: Presque Isle Interna...",568,579,0,0.000000,0,0.000000
366,11197,NM,CVN,"Clovis, NM: Clovis Regional",964,624,0,0.000000,443,70.993590
368,12441,WY,JAC,"Jackson, WY: Jackson Hole",4743,4703,0,0.000000,1,0.021263
369,11415,TX,DRT,"Del Rio, TX: Del Rio International",714,683,0,0.000000,0,0.000000
370,12129,MN,HIB,"Hibbing, MN: Range Regional",627,640,0,0.000000,0,0.000000
371,10409,SD,ATY,"Watertown, SD: Watertown Regional",502,623,0,0.000000,0,0.000000