In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('annual_pax_clusters_above10K.csv')

In [4]:
df

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,diff,pct_change,change_category,total_2019,total_2020,total_2021,total_2022
0,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,loss,-21.7,at least -20%,437600,190303,356294,422995
1,10136,ABI,TX,Abilene Regional,Abilene,10k-100k,no,loss,-16.8,at least -10%,86769,46449,79810,73914
2,10140,ABQ,NM,Albuquerque International Sunport,Albuquerque,1-5 million,no,loss,-19.7,at least -10%,2695239,896302,1720416,2365700
3,10141,ABR,SD,Aberdeen Regional,Aberdeen,10k-100k,yes,loss,-5.4,less than -10%,28782,14393,21842,21768
4,10146,ABY,GA,Southwest Georgia Regional,Albany,10k-100k,no,loss,-5.1,less than -10%,41460,17388,32015,35055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,15624,VPS,FL,Eglin AFB Destin Fort Walton Beach,Valparaiso,100k-1 million,no,loss,-1.4,less than -10%,813496,459569,983091,988665
350,15855,WST,RI,Westerly State,Westerly,10k-100k,no,loss,-10.5,at least -10%,18260,12720,16902,14419
351,15919,XNA,AR,Northwest Arkansas National,Fayetteville,100k-1 million,no,loss,-22.4,at least -20%,888820,340713,600989,810354
352,16101,YKM,WA,Yakima Air Terminal/McAllister Field,Yakima,10k-100k,no,loss,-51.0,at least -30%,67598,29007,45317,35127
353,16869,XWA,ND,Williston Basin International,Williston,10k-100k,no,loss,-28.0,at least -20%,88445,31291,46281,66235

In [5]:
df2 = df[df['category'] == '10k-100k']
df3 = df[df['category'] == '100k-1 million']

In [6]:
df2.describe()

,ORIGIN_AIRPORT_ID,pct_change,total_2019,total_2020,total_2021,total_2022
count,127.000000,127.000000,127.000000,127.000000,127.000000,127.000000
mean,12800.850394,-14.838583,36745.803150,16264.881890,28221.661417,33234.173228
std,1745.058552,31.333683,24437.640372,11434.592016,20749.625392,37423.176948
min,10136.000000,-100.000000,10041.000000,2816.000000,56.000000,0.000000
25%,11191.500000,-29.350000,18340.500000,8020.500000,13360.500000,14304.500000
50%,12891.000000,-13.500000,27225.000000,11838.000000,20386.000000,21768.000000
75%,14248.000000,-1.300000,51462.500000,21513.500000,37953.000000,40904.000000
max,16869.000000,166.500000,98027.000000,53931.000000,94733.000000,351690.000000

In [13]:
airports_PA = df3[df3['ORIGIN_STATE_ABR'] == 'PA']

In [14]:
airports_PA.describe()

,ORIGIN_AIRPORT_ID,pct_change,total_2019,total_2020,total_2021,total_2022
count,6.000000,6.00000,6.000000,6.000000,6.000000,6.0000
mean,12164.166667,-35.75000,321795.000000,132910.000000,222762.000000,255123.0000
std,1767.293458,14.97154,240737.365791,103358.050541,173218.116036,221183.4457
min,10135.000000,-52.80000,106576.000000,46272.000000,68944.000000,61825.0000
25%,10719.750000,-48.25000,164326.750000,64743.750000,120623.500000,112898.5000
50%,12237.500000,-35.55000,240093.500000,91451.000000,139733.000000,156128.5000
75%,13147.000000,-22.70000,400491.750000,170341.750000,306453.750000,364670.5000
max,14711.000000,-19.70000,750978.000000,315806.000000,511881.000000,623983.0000

In [15]:
airports_PA

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,diff,pct_change,change_category,total_2019,total_2020,total_2021,total_2022
0,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,loss,-21.7,at least -20%,437600,190303,356294,422995
23,10434,AVP,PA,Wilkes Barre Scranton International,Scranton/Wilkes-Barre,100k-1 million,no,loss,-52.8,at least -30%,289167,110458,156933,189697
110,11577,ERI,PA,Erie International/Tom Ridge Field,Erie,100k-1 million,no,loss,-45.4,at least -30%,106576,46272,68944,61825
186,12898,LBE,PA,Arnold Palmer Regional,Latrobe,100k-1 million,no,loss,-19.7,at least -10%,155429,62177,122533,122560
209,13230,MDT,PA,Harrisburg International,Harrisburg,100k-1 million,no,loss,-25.7,at least -20%,750978,315806,511881,623983
303,14711,SCE,PA,University Park,State College,100k-1 million,no,loss,-49.2,at least -30%,191020,72444,119987,109678